name: "Publish"

on:
    workflow_dispatch:
        inputs:
            branches:
                description: "Branches"
                required: true
                default: "['arch-1.20.1', 'arch-1.21.1']"
                type: string
            platform:
                description: "Platforms"
                required: true
                default: "['fabric', 'forge', 'neoforge']"
                type: string

jobs:
    publish:
        name: "Publish"
        strategy:
            fail-fast: false
            matrix:
                branch: ${{ fromJson(inputs.branches) }}
        uses: ./.github/workflows/publish-branch.yml
        with:
            branch: ${{ matrix.branch }}
            platform: ${{ inputs.platform }}
        secrets: inherit