name: "Publish Branch"

on:
    workflow_call:
        inputs:
            platform:
                description: "Platforms"
                required: true
                type: string
            branch:
                description: "Branches"
                required: true
                type: string

jobs:
    build:
        runs-on: ubuntu-latest
        name: Build ${{ inputs.branch }}
        timeout-minutes: 30
        outputs:
            matrix: ${{ steps.gen-matrix.outputs.matrix }}

        steps:
            -   name: "Checkout repository"
                uses: actions/checkout@v4
                with:
                    ref: ${{ inputs.branch }}
                    fetch-depth: 0

            -   name: "Parse gradle properties"
                id: gradle-properties
                run: ./.github/scripts/parse-gradle-properties.sh

            -   name: "Parse changelog"
                run: ./.github/scripts/parse-changelog.sh ${{ steps.gradle-properties.outputs.MOD_VERSION }}

            -   name: "Setup Java"
                uses: actions/setup-java@v4
                with:
                    java-version: 21
                    distribution: temurin

            -   name: "Setup Gradle"
                uses: gradle/actions/setup-gradle@v4
                with:
                    cache-read-only: false
                    gradle-version: wrapper

            -   name: "Run build"
                run: ./gradlew build

            -   name: "Upload built jars"
                uses: actions/upload-artifact@v4
                with:
                    name: built-jars-${{ inputs.branch }}
                    if-no-files-found: error
                    path: |
                        ./**/build/libs/*[0-9].jar

            -   name: "Generate matrix for publishing"
                id: gen-matrix
                run: ./.github/scripts/generate-publish-matrix.sh "${{ inputs.platform }}"

    publish:
        runs-on: ubuntu-latest
        needs: build
        name: "Publish ${{ inputs.branch }} ${{ matrix.platform }}"
        timeout-minutes: 30
        permissions:
            contents: write
        strategy:
            max-parallel: 2
            fail-fast: false
            matrix: ${{fromJson(needs.build.outputs.matrix)}}

        steps:
            -   name: "Checkout repository"
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0

            -   name: "Setup Java"
                uses: actions/setup-java@v4
                with:
                    java-version: 21
                    distribution: temurin

            -   name: "Setup Gradle"
                uses: gradle/actions/setup-gradle@v4
                with:
                    cache-read-only: true
                    gradle-version: wrapper

            -   name: "Parse gradle properties"
                id: gradle-properties
                run: ./.github/scripts/parse-gradle-properties.sh

            -   name: "Parse changelog"
                run: ./.github/scripts/parse-changelog.sh ${{ steps.gradle-properties.outputs.MOD_VERSION }}

            -   name: "Run build"
                run: ./gradlew ${{ matrix.platform }}:build

            -   name: "Publish ${{ matrix.platform }}"
                uses: Kir-Antipov/mc-publish@v3.3.0
                with:
                    curseforge-id: ${{ vars.CURSEFORGE_ID }}
                    curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

                    modrinth-featured: true
                    modrinth-id: ${{ vars.MODRINTH_ID }}
                    modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

                    name: Fowl Play ${{ steps.gradle-properties.outputs.MOD_VERSION }}
                    version: ${{ steps.gradle-properties.outputs.MOD_VERSION }}+${{ steps.gradle-properties.outputs.MINECRAFT_VERSION }}-${{ matrix.platform }}
                    loaders: ${{ join(matrix.loaders, ' ') }}
                    game-versions: |
                        ${{ steps.gradle-properties.outputs.MINECRAFT_VERSION }}
                    changelog-file: RELEASE_CHANGELOG.md
                    files: |
                        ${{ matrix.platform }}/build/libs/!(*-@(dev|dev-shadow|sources|javadoc)).jar