name: "Publish"

on:
    workflow_dispatch:
        inputs:
            platform:
                description: "Platforms"
                required: true
                default: "['fabric', 'forge', 'neoforge']"
                type: string
            branch:
                description: "Branches"
                required: true
                default: "['arch-1.20.1', 'arch-1.21.1']"
                type: string

jobs:
    publish:
        name: "Publish"
        strategy:
            fail-fast: false
            matrix:
                platform: ${{ fromJson(inputs.platform) }}
                branch: ${{ fromJson(inputs.branch) }}
                exclude:
                    -   branch: arch-1.20.1
                        platform: neoforge
                    -   branch: arch-1.21.1
                        platform: forge
        uses: ./.github/workflows/publish.yml
        with:
            platform: ${{ matrix.platform }}
            branch: ${{ matrix.branch }}
        secrets: inherit